.projects{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.projects img{
    width : 100%;
    border-radius: 20px;
}

.prj h2{
    margin-bottom: 15px;
    font-size: 40px;
}
.project-container{
    display: flex;
    flex-direction:column;
    margin: 0px 160px;
}
.check-btn{
    width: 200px;
    margin: 10px 43%;
    border: 1px solid white;

}
.check-btn h2{
    text-align: center;
    padding: 5px;
    font-size: 20px;
}
